{% extends "base.html" %}

{% block header %}
<header class="equify-header">

    <div class="equify-logo">
        <a href="{{ nav.homepage.url | url }}">
            <img src="{{ 'assets/images/logo.png' | url }}" alt="Equify">
            <span>Equify Product Guide</span>
        </a>
    </div>

    <nav class="equify-nav">
        <a href="/">Home</a>
        <a href="/Product_Guide/">Product Guide</a>
        <a href="/SMS/">SMS</a>
        <a href="/WhatsApp/">WhatsApp</a>
        <a href="/faq/">FAQ</a>
    </nav>

    <div class="equify-right">

        {% include "partials/search.html" %}

        <a href="#" class="login-link">Login</a>

        <a href="#" class="signup-btn">
            Create Account
        </a>

    </div>

</header>
{% endblock %}